  <h2>Git-Er-Dun: The Collaborative Git Simulator
         </h2>  Challenge: While most aspiring and junior developers learn Git commands, it is usually difficult to practice those skills in a social environment. <p> <p>

         <figure><img src='assets/gitsim.png'>
          <figcaption><em>Practicing Git alone is common amongst aspiring developers, 
          but rarely the reality of a technical work environment.</em>
          </figcaption></figure>
        
        <br />Solution: Git-Er-Dun: The Collaborative Git Simulator, is currently available in the two-person beta version with a stable release coming soon, to simulate a 'live' working and coding environment. Devs use the simulator in conjunction with two other popular social work tools, Github and Slack, to increase efficiency and collaboration.
        <p><br />

          <figure><img src='assets/gitsim2.png'>
         <figcaption><em>With Git-Er-Dun, devs use a step-based script to complete Git tasks. By the end of the script, the devs have utilized Git commands of their choosing to collaboratively complete the project, as seen above.</em></figcaption></figure>

        Outcome: With my Git-Er-Dun collaborative simulation, devs can now work out actual Git commands together in a relaxed environment, while boosting their confidence when it comes to deploying these skills on the job.
        <p>
          <figure><img src='assets/gitsim3.png' style='border:2px solid black'>
          <figcaption><em>Screenshot snippet from Git-Er-Dun Readme </em>
          </figcaption></figure>
        <p> <h1> Explore the Git-Er-Dun repo <a href='https://github.com/RealToughCandy/RealtoughCandy-Presents-Git-Er-Dun-THE-COLLABORATIVE-GIT-SIMULATOR-Beta-Release'> here</a></h1>